* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #e2e8f0;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(1fr 3fr 1fr);
  grid-template-rows: repeat(1fr 2fr 2fr);
  gap: 10px;
}

.sidebar {
  display: grid;
  background-color: #1992d4;
  border: 2px solid #1992d4;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  gap: 70px;
  color: white;
  padding: 15px 20px;
}

.header {
  display: grid;
  background-color: white;
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  border: 2px solid white;
}

.project {
  display: grid;
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  border: 2px solid red;
}

.announcement {
  display: grid;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  border: 2px solid yellow;
}

.trending {
  display: grid;
  grid-column: 5 / 6;
  grid-row: 3 / 4;
  border: 2px solid magenta;
}

.icon-white {
  fill: white;
  width: 25px;
  height: 25px;
}

.dashboard {
  display: grid;
  grid-row: 1 / 2;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 5px;
}

.icon-large {
  width: 50px;
  height: 50px;
  fill: currentColor;
  flex-shrink: 0;
}

.bold-dashboard {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
}

.nav {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  padding: 0 10px;
}

.home-cont {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 5px;
}

.nav-text {
  font-size: 1.4rem;
  font-weight: 500;
}

.settings {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  padding: 0 10px;